/* Colores a utilizar. */
@define-color control-center-colour #262626;
@define-color buttons-colour #303030;
@define-color black #000000;

/* Centro de control. */
.control-center {
  border: 2px solid @black;
  border-radius: 20px;
  background-color: @control-center-colour;
}

.control-center-list {
  background: transparent;
}

/* Botones de acción. */
.poweroff-button > button,
.reboot-button > button,
.lock-button > button,
.screenshot-button > button,
.battery-button > button,
.settings-button > button {
  border: none;
  border-radius: 20px;
  background: transparent;
  margin-top: 6px;
}

  /* Botón de ajustes. */
  .settings-button > button {
    margin-left: 5px;
  }

  /* Botón de apagado. */
  .poweroff-button > button {
    margin-right: 5px;
  }
  
/* Quick toggles. */
.widget-buttons-grid > flowbox > flowboxchild > button {
  padding-left: 28px;
  padding-right: 28px;
}
