/* Colores a utilizar. */
@define-color control-center-colour #262626;
@define-color buttons-colour #303030;
@define-color black #000000;

/* Centro de control. */
.control-center {
  border: 2px solid @black;
  border-radius: 20px;
  background-color: @control-center-colour;
}

.control-center-list {
  background: transparent;
}

/* Botones. */
.power-buttons > button,
.lock-button > button,
.settings-button > button,
.screenshot-button > button,
.battery-button > button {
  border: none;
  border-radius: 20px;
  background: transparent;
  margin: 2px;
}

  /* Botón de encendido. */
  .power-buttons > button {
    padding-right: 2px;
  }
  
  /* Botón de batería. */
  .battery-button > button {
    padding-right: 2px;
  }
