/* Archivo de estilización de Waybar de Lucas */
/* Este archivo se debe copiar a ~/.config/waybar para editar. */
/* Referencia de estilización: https://github.com/Alexays/Waybar/wiki/Styling */

/*
    Configuraciones utilizadas como referencia:
    * https://github.com/Alexays/Waybar/blob/master/resources/style.css
    * https://github.com/jakehamilton/dotfiles/blob/master/waybar/style.css
*/

/* Estilo de la barra principal. */
    window#waybar {
        background-color: rgba(17, 17, 102, 0.4);
    }

    window#waybar.hidden {
        opacity: 0.2;
    }
    
    window#waybar.empty #window {
        background-color: rgba(0, 0, 0, 0);
        border: transparent;
        color: transparent;
    }
 
/* Estilo de los sectores de la barra. */
    
    /* Módulos de la derecha. */
    .modules-right {
        border: 2px solid #111166;
        border-radius: 12px;
        margin-top: 4px;
	    margin-left: 4px;
	    margin-bottom: 4px;
	    margin-right: 4px;
    }
    
/* Estilo de los módulos. */

    /* Áreas de trabajo. */
    #workspaces {
	    background: #0074AA;
	    transition: none;
        border: 2px solid #111166;
        border-radius: 12px;
        margin-top: 4px;
	    margin-left: 4px;
	    margin-bottom: 4px;
	    margin-right: 4px;
    }

    #workspaces button {
	    transition: none;
	    color: #f8f8f2;
	    background: transparent;
	    font-size: 16px;
    }

    #workspaces button.focused {
	    color: #00fc69;
	    font-weight: bold;
    }

    #workspaces button:hover {
	    transition: none;
	    box-shadow: inherit;
	    text-shadow: inherit;
	    color: #ff79c6;
    }
    
    /* Bandeja de aplicaciones minimizadas. */
    #tray {
        background-color: #DFB688;
        padding-left: 8px;
        padding-right: 8px;
        border: 2px solid #111166;
        border-radius: 12px;
        margin-top: 4px;
	    margin-left: 4px;
	    margin-bottom: 4px;
	    margin-right: 4px;
    }
    
    #tray menu {
        border: 2px solid #111166;
        background-color: #FCE4CA;
    }
    
    /* Modos especiales del gestor de ventanas. */
    #mode {
        background-color: #f9dd04;
        color: #602222;
        border: 2px solid #602222;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 12px;
    }
    
    /* Ventana abierta. */
    #window {
        background-color: #8498f4;
        color: #f8f8f2;
        border: 2px solid #111166;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
	    margin-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 12px;
    }

    /* Conexión de red. */
    #network {
        background-color: #2980b9;
    	color: #f8f8f2;
        padding-left: 8px;
        padding-right: 8px;
    	border-top-left-radius: 10px;
    	border-bottom-left-radius: 10px;
    }

    #network.disconnected {
        background-color: #f53c3c;
    }

    /* CPU. */
    #cpu {
        background-color: #2ecc71;
    	color: #f8f8f2;
        padding-left: 8px;
        padding-right: 8px;
    }

    /* RAM. */
    #memory {
        background-color: #9b59b6;
    	color: #f8f8f2;
        padding-left: 8px;
        padding-right: 8px;
    }

    /* Temperatura. */
    #temperature {
        background-color: #f0932b;
    	color: #f8f8f2;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    #temperature.critical {
        background-color: #f53c3c;
    }

    /* Batería. */
    #battery {
        background-color: #ffffff;
        color: #000000;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    #battery.charging, #battery.plugged {
        color: #ffffff;
        background-color: #26A65B;
    }
    
    @keyframes blink {
        to {
            background-color: #ffffff;
            color: #000000;
        }
    }

    #battery.critical:not(.charging) {
        background-color: #f53c3c;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    /* Reloj. */
    #clock {
        background-color: #64727D;
    	color: #f8f8f2;
        padding-left: 8px;
        padding-right: 8px;
    	border-top-right-radius: 10px;
    	border-bottom-right-radius: 10px;
    }
