/* Archivo de estilización de Waybar para Hyprland de Lucas. */
/* Este archivo se debe copiar a ~/.config/waybar/hyprland para editar. */
/* Referencia de estilización: https://github.com/Alexays/Waybar/wiki/Styling */

/*
    Configuraciones utilizadas como referencia:
    * https://github.com/Alexays/Waybar/blob/master/resources/style.css
    * https://github.com/jakehamilton/dotfiles/blob/master/waybar/style.css
    * https://github.com/eldermf/arch-wayland/blob/master/home/.config/wayfire/waybar/style.css
    * https://github.com/1amSimp1e/dots/blob/balcony%F0%9F%9A%8A/configs/waybar/style.css
    * https://github.com/SolDoesTech/hyprland/blob/main/waybar/style.css
*/

/* NOTAS */
/* La propiedad margin es la que permite ajustar el espaciado entre un bloque de contenido y la barra de estado. */
/* La propiedad padding permite ajustar el espaciado dentro de un bloque de contenido, separando el contenido de los bordes. */

/* Fuente. */
* {
    font-family: Cantarell, FontAwesome6Free, FontAwesome6Brands;
}

/* Estilo de la barra principal. */
window#waybar {
    background-color: rgba(0, 0, 0, 0.4);
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Estilo de los módulos. */

    /* Ícono de Linux e indicador de reposo. */
    #custom-gentoo,
    #idle_inhibitor {
        margin-top: 7px;
        margin-bottom: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
  
        #custom-gentoo {
            border-radius: 7px 0px 0px 7px;
            color: #FFFFFF;
            background-color: #54487A;
            margin-left: 7px;
        }

        #idle_inhibitor {
            border-radius: 0px 7px 7px 0px;
            color: #FFFFFF;
            background-color: #F1C40F;
        }
        
    /* Indicador de brillo e indicador de sonido. */
    #custom-brightness,
    #wireplumber {
        margin-top: 7px;
        margin-bottom: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
    
        #custom-brightness {
            border-radius: 7px 0px 0px 7px;
            color: #FFFFFF;
            background-color: #468fa8;
            margin-left: 7px;
        }
        
        #wireplumber {
            border-radius: 0px 7px 7px 0px;
            color: #FFFFFF;
            background-color: #006400;
        }
        
            #wireplumber.muted {
                background-color: #BB0000;
            }
  
    /* Áreas de trabajo. */
    #workspaces {
        border-radius: 7px;
        background-color: #262626;
        font-weight: bold;
        transition: none;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
    }

        #workspaces button {
            color: #F8F8F2;
            background: transparent;
            font-size: 16px;
            transition: none;
        }

        #workspaces button.active {
            color: #00FC69;
            font-weight: bold;
        }

        #workspaces button:hover {
            color: #FF79C6;
            text-shadow: inherit;
            box-shadow: inherit;
            transition: none;
        }
    
    /* Bandeja de aplicaciones minimizadas. */
    #tray {
        border-radius: 7px;
        background-color: #262626;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }

        #tray menu {
            border: 2px solid #999999;
            color: #FFFFFF;
            background-color: #262626;
        }
        
        #tray > .passive {
            -gtk-icon-effect: dim;
        }
        #tray > .needs-attention {
            -gtk-icon-effect: highlight;
        }
        
    /* Ventana enfocada. */
    #window {
        border-radius: 7px;
        color: #F8F8F2;
        background-color: #262626;
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
    
    /* Conexión de red, RAM y CPU. */
    #network,
    #memory,
    #cpu {
        margin-top: 7px;
        margin-bottom: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
    
        #network {
            border-radius: 7px 0px 0px 7px;
            color: #F8F8F2;
            background-color: #2980B9;
            margin-left: 7px;
        }
        
            #network.disconnected {
                background-color: #F53C3C;
            }
        
        #memory {
            color: #F8F8F2;
            background-color: #9B59B6;
        }
        
        #cpu {
            border-radius: 0px 7px 7px 0px;
            color: #F8F8F2;
            background-color: #2ECC71;
        }
        
    /* Temperatura y batería. */
    #temperature,
    #battery {
        margin-top: 7px;
        margin-bottom: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
    
        #temperature {
            border-radius: 7px 0px 0px 7px;
            color: #F8F8F2;
            background-color: #F0932B;
            margin-left: 7px;
        }
        
            #temperature.critical {
                background-color: #F53C3C;
            }
        
        #battery {
            border-radius: 0px 7px 7px 0px;
            color: #000000;
            background-color: #FFFFFF;
        }
        
            #battery.charging, #battery.plugged {
                color: #FFFFFF;
                background-color: #26A65B;
            }
            
            @keyframes blink {
                to {
                    color: #000000;
                    background-color: #FFFFFF;
                }
            }

            #battery.critical:not(.charging) {
                background-color: #F53C3C;
                animation-name: blink;
                animation-duration: 0.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
    
    /* Reloj. */
    #clock {
        border-radius: 7px;
        color: #F8F8F2;
        background-color: #64727D;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }

    /* Recuento de notificaciones. */
    #custom-notifications {
        border-radius: 7px;
        color: #F8F8F2;
        background-color: #262626;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
        margin-right: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
    
/* Condiciones especiales para la estilización. */

    /* Redondeo de los bordes del widget más a la izquierda. */

        /* RAM. */
        .modules-right > widget:first-child > #memory {
            border-radius: 7px 0px 0px 7px;
        }
