/* Archivo de estilización de Wofi de Lucas */
/* Este archivo se debe copiar a ~/.config/wofi para editar. */
/* Páginas del manual relacionadas: man 5 wofi y man 7 wofi */

/*
    Configuraciones utilizadas como referencia:
    * https://github.com/franzer/dotfiles/blob/master/wofi/style.css
*/

/* Ventana principal. */
window {
    border: 2px solid #000000;
    background-color: #323232;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px
}

/* Ventana que contiene a todos los elementos. */
#outer-box {
    padding: 15px;
}

/* Barra de búsqueda. */
#input {
    color: #FFFFFF;
    background-color: #000000;
    margin: 0px;
    padding: 8px;
}

    /* Barra de búsqueda seleccionada. */
    #input:focus {
        border: 2px solid #f0932b;
    }

/* Selección de entradas disponibles. */
#inner-box {
    color: #FFFFFF;
    margin: 0px;
    padding: 5px;
}

    /* Color de la entrada seleccionada. */
    #entry:selected {
        background-color: #f0932b;
    }

    /* Imágenes mostradas junto a las entradas. */
    #img {
        padding-right: 5px;
    }
