/* Archivo de estilización de GTK4 de Lucas. */
/* Este archivo se debe copiar a ~/.config/gtk-4.0 para editar. */

/* Estilo común de los botones. */
windowcontrols .close,
windowcontrols .maximize,
windowcontrols .minimize {
  border-radius: 20px;
  min-height: 5px;
  min-width: 5px;
  padding: 1px;
  margin: 2px;
}

/* Estilo del botón para cerrar ventanas. */
windowcontrols .close {
  background-color: #FC1F53;
  color: #FC1F53;
}

  windowcontrols .close:hover {
    background-color: #BB0000;
    color: white;
  }

/* Estilo del botón para maximizar ventanas. */
windowcontrols .maximize {
  background-color: #279F35;
  color: #279F35;
}

  windowcontrols .maximize:hover {
    background-color: #1E7A29;
    color: white;
  }

/* Estilo del botón para minimizar ventanas. */
windowcontrols .minimize {
  background-color: #FDBC40;
  color: #FDBC40;
}

  windowcontrols .minimize:hover {
    background-color: #CE7C39;
    color: white;
  }
